<section class="container p-t-3">
    <div class="row">
        <div class="col-lg-12">
            <h1>Best Nasi Lemak In Town!</h1>
        </div>
    </div>
</section>
<div id="postsCarousel">
    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-md-right lead">
                    <a class="btn btn-secondary-outline prev" href="#postsCarousel" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                    <a class="btn btn-secondary-outline next" href="#postsCarousel" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <%=link_to single_show_foods_path do%>
                        <div class="card">
                            <div class="card-img-top card-img-top-250">
                                <%= image_tag "nasilemak1.jpg", class: "img-fluid" %>
                            </div>
                            <div class="card-block p-t-2">
                                <h9>Nasi Lemak</h9>
                                <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                            </div>
                        </div>
                    <%end%>
                </div>
                <div class="col-md-4">
                    <%=link_to single_show_foods_path do%>
                        <div class="card">
                            <div class="card-img-top card-img-top-250">
                                <%= image_tag "nasilemak2.jpg", class: "img-fluid" %>
                            </div>
                            <div class="card-block p-t-2">
                                <h9>Nasi Lemak</h9>
                                <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                            </div>
                        </div>
                    <%end%>
                </div>
                <div class="col-md-4">
                    <%=link_to single_show_foods_path do%>
                        <div class="card">
                            <div class="card-img-top card-img-top-250">
                                <%= image_tag "nasilemak3.jpg", class: "img-fluid" %>
                            </div>
                            <div class="card-block p-t-2">
                                <h9>Nasi Lemak</h9>
                                <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <%=link_to single_show_foods_path do%>
                        <div class="card">
                            <div class="card-img-top card-img-top-250">
                                <%= image_tag "nasilemak4.jpg", class: "img-fluid" %>
                            </div>
                            <div class="card-block p-t-2">
                                <h9>Nasi Lemak</h9>
                                <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                            </div>
                        </div>
                    <%end%>
                </div>
                <div class="col-md-4">
                    <%=link_to single_show_foods_path do%>
                        <div class="card">
                            <div class="card-img-top card-img-top-250">
                                <%= image_tag "nasilemak5.jpg", class: "img-fluid" %>
                            </div>
                            <div class="card-block p-t-2">
                                <h9>Nasi Lemak</h9>
                                <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                            </div>
                        </div>
                    <%end%>
                </div>
                <div class="col-md-4 fadeIn wow">
                    <%=link_to single_show_foods_path do%>
                        <div class="card">
                            <div class="card-img-top card-img-top-250">
                                <%= image_tag "nasilemak6.jpg", class: "img-fluid" %>
                            </div>
                            <div class="card-block p-t-2">
                                <h9>Nasi Lemak</h9>
                                <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                            </div>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="container p-t-3">
    <div class="row">
        <div class="col-lg-12">
            <h1>Something else</h1>
        </div>
    </div>
</section>
<div id="postsCarousel1">
    <section class="carousel slide" data-ride="carousel" id="postsCarousel1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-md-right lead">
                    <a class="btn btn-secondary-outline prev" href="#postsCarousel1" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                    <a class="btn btn-secondary-outline next" href="#postsCarousel1" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="container p-t-0 m-t-2 carousel-inner">
            <div class="row row-equal carousel-item active m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <%= image_tag "nasilemak1.jpg", class: "img-fluid" %>
                        </div>
                        <div class="card-block p-t-2">
                            <h9>Nasi Briyani</h9>
                            <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <%= image_tag "nasilemak2.jpg", class: "img-fluid" %>
                        </div>
                        <div class="card-block p-t-2">
                            <h9>Nasi Briyani</h9>
                            <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <%= image_tag "nasilemak3.jpg", class: "img-fluid" %>
                        </div>
                        <div class="card-block p-t-2">
                            <h9>Nasi Briyani</h9>
                            <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-equal carousel-item m-t-0">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <%= image_tag "nasilemak4.jpg", class: "img-fluid" %>
                        </div>
                        <div class="card-block p-t-2">
                            <h9>Nasi Briyani</h9>
                            <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <%= image_tag "nasilemak5.jpg", class: "img-fluid" %>
                        </div>
                        <div class="card-block p-t-2">
                            <h9>Nasi Briyani</h9>
                            <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 fadeIn wow">
                    <div class="card">
                        <div class="card-img-top card-img-top-250">
                            <%= image_tag "nasilemak6.jpg", class: "img-fluid" %>
                        </div>
                        <div class="card-block p-t-2">
                            <h9>Nasi Briyani</h9>
                            <p class="card-text">One of the most authentic cuisines in Banana Leaf</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
  (function($) {
    "use strict";

    // manual carousel controls
    $('.next').click(function(){ $('.carousel').carousel('next');return false; });
    $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });
    
})(jQuery);
</script>