<section class="container p-t-3">
    <div class="row">
        <div class="col-lg-12">
            <h1><strong>Your Food: Nasi Lemak</strong></h1>
        </div>
    </div>
</section>

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-img-top card-img-top-250">
                <a href="/"><%= image_tag "nasilemak2.jpg", class: "img-fluid" %></a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<section class="container p-t-3">
    <div class="row">
        <div class="col-lg-12">
            <h1><strong>Other choices in the Restaurant</strong></h1>
        </div>
    </div>
</section>

<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img-top card-img-top-250">
                <a href="/"><%= image_tag "nasilemak3.jpg", class: "img-fluid" %></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img-top card-img-top-250">
                <a href="/"><%= image_tag "nasilemak5.jpg", class: "img-fluid" %></a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img-top card-img-top-250">
                <a href="/"><%= image_tag "portfolio-8.jpg", class: "img-fluid" %></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img-top card-img-top-250">
                <a href="/"><%= image_tag "portfolio-7.jpg", class: "img-fluid" %></a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
