<div class="container">
	<div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>We think that you would want to eat the following:</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-1.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-2.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-3.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-4.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	</div>
</div>
<div class="container">
	<div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>We think these restaurants would give an enjoyable night:</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-1.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-2.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-3.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-4.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	</div>
</div>
<div class="container">
	<div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Your friends are recommending these:</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-1.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-2.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-3.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-4.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	</div>
</div>
<div class="container">
	<div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Your friends are hanging out here:</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-1.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-2.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-3.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-4.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	</div>
</div>
<div class="container">
	<div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>The previous place you've visited:</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-1.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-2.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-3.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="card">
                                    <div class="view overlay hm-white-slight">
                                        <%= image_tag "portfolio-4.jpg", class: "img-fluid" %>
                                        <a href="#">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-primary">Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
	</div>
</div>